NewsAI.json
{
  "name": "NewsAI",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "techcrunchRSS",
              "value": "https://techcrunch.com/category/artificial-intelligence/feed/",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "venturebeatRSS",
              "value": "https://venturebeat.com/category/ai/feed/",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "mitRSS",
              "value": "https://www.technologyreview.com/topic/artificial-intelligence/feed",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "3350ea20-bce9-46d4-bc3f-aa7e780d6b73",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        192
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "url",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "created",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            },
            {
              "id": "id-8",
              "name": "description",
              "value": "={{ $json.content }}",
              "type": "string"
            },
            {
              "id": "id-9",
              "name": "source",
              "value": "={{ $json.meta.title }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "544db9b0-8704-479f-bc6b-e5bd72f6009f",
      "name": "Format Post Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        192
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Workflow Configuration').first().json.techcrunchRSS }}",
        "options": {}
      },
      "id": "fbb58abe-0a6a-4ae6-b012-b2da948f9e69",
      "name": "Get TechCrunch AI",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "2273ffc6-ac15-425a-b441-a9020dd1acbd",
      "name": "Split Posts",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        448,
        192
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "066c8004-4a18-40d4-8acd-378c4faaa812",
      "name": "Combine All Posts",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        224,
        192
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Workflow Configuration').first().json.mitRSS }}",
        "options": {}
      },
      "id": "ed9f6964-8a54-472a-adb8-4602b0915798",
      "name": "Get MIT Tech Review AI",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        0,
        384
      ]
    },
    {
      "parameters": {
        "url": "={{ $('Workflow Configuration').first().json.venturebeatRSS }}",
        "options": {}
      },
      "id": "b595aa97-3e0f-48c8-9718-fcfe07b34d0d",
      "name": "Get VentureBeat AI",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        0,
        192
      ]
    },
    {
      "parameters": {
        "multipleMethods": true,
        "path": "07f5d144-1b8f-49e6-a062-47476c438583",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        192
      ],
      "id": "334d44bd-7e1e-430a-9981-c738469c6c88",
      "name": "Webhook",
      "webhookId": "07f5d144-1b8f-49e6-a062-47476c438583"
    }
  ],
  "pinData": {},
  "connections": {
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Get TechCrunch AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get MIT Tech Review AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get VentureBeat AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get TechCrunch AI": {
      "main": [
        [
          {
            "node": "Combine All Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Posts": {
      "main": [
        [
          {
            "node": "Format Post Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine All Posts": {
      "main": [
        [
          {
            "node": "Split Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get MIT Tech Review AI": {
      "main": [
        [
          {
            "node": "Combine All Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get VentureBeat AI": {
      "main": [
        [
          {
            "node": "Combine All Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "versionId": "3ca3f9b0-43e7-4289-8bfe-1097ae73925a",
  "meta": {
    "instanceId": "b25110439abc23a043dfdc708d323c7e9685eb7f0f6ad4d526e571fb12d60fd8"
  },
  "id": "Ka6FW9sbEkupl0lE",
  "tags": []
}